body {
    /* background-image: radial-gradient(ellipse at center -50%,#2e62f3 0,#0064ff 18%,#0061fd 57%,#00c4ff 100%); */
    background-color: #0061fd;
}


.device-frame {
    width: 366px;
    height: 515px;
    border-radius: 16px;
    padding: 23px 7px 31px;
    background-color: #f7f9fa;
    border-color: #d3dce0;
    /* background-color: #2a3039;
    border-color: #2a3039; */
    border: 1px solid rgba(211, 220, 224, 0.5);
    position: relative;
    float: left;
}

.device-frame::before {
    border-radius: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 1px 12px 0 rgba(0, 0, 0, 0.32);
    content: "";
}

.device-frame::after {
    border-radius: 16px;
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    box-shadow: 0px 43px 52px 0px rgba(0,0,0,.2);
    content: ""
} 

.instagram-page {
    border-radius: 16px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0; 
    height: calc(100% - 54px);
    width: calc(100% - 16px);
    margin-left: 8px;
    margin-top: 23px;
    display: block;
    opacity: 1;
}

.instagram-page .header {
    position: relative;
    top: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 6px;
    height: 10px;
    background-color: #dbe3e7;
}

.instagram-page .website-logo img {
    width: 86px;
    display: block;
}

.instagram-page .website-logo {
    padding-top: 20px;
    margin: 16px auto 0;
    width: max-content;
}

.instagram-page .picture-frame {
    margin: 14px auto 0;
    width: 300px;
    display: flex;
    height: max-content;
    position: relative;
}

.instagram-page .picture-frame::after{
    position: absolute;
    top: 0;
    left: 0;
    color: #f7f9fa;
    content: "Your only job";
    font-size: 10px;
    font-family: SFMono-Regular,Menlo,Consolas,"Liberation Mono",Courier,monospace;
    background-color: #4a90e2;
    border-radius: 6px 0 6px 0;
    padding: 2px 7px;
    opacity: 0;
}

.instagram-page .picture-frame::before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 2px dashed #4a90e2;
    border-radius: 6px;
    content: "";
    opacity: 0;
}

.instagram-page .picture-frame .picture{
    margin: 0 auto 0;
    max-width: 100%;
    width: max-content;
    outline: 150px solid;
    outline-color: rgba(238, 238, 238, 0.0);
    outline-offset: -150px;
}

.instagram-page .picture-frame .picture img{
    max-width: 100%;
    border-radius: 6px;
    display: block;
}

.instagram-page .site-content {
    position: relative;
    margin: 8px 32px 0;
    width: max-content;
    height: max-content;
    color: #536171;
    font-family: "Avenir Next W01",Open Sans,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1;
    font-size: 15px;
    padding: 15px;
    outline: 45px solid;
    outline-color: rgba(238, 238, 238, 0.0);
    outline-offset: -45px;
}

.instagram-page .site-content::after{
    position: absolute;
    top: 0;
    left: 0;
    color: #f7f9fa;
    content: "Our job";
    font-size: 10px;
    font-family: SFMono-Regular,Menlo,Consolas,"Liberation Mono",Courier,monospace;
    background-color: #4a90e2;
    border-radius: 6px 0 6px 0;
    padding: 3px 6px;
    opacity: 0;
}

.instagram-page .site-content::before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 2px dashed #4a90e2;
    border-radius: 6px;
    content: "";
    opacity: 0;
}

.instagram-page .site-content .website-text-headline {
    width: 220px;
    margin-bottom: 10px;
}
.website-text-headline, .website-text-subheadline {

    height: 10px;
    border-radius: 6px;
    background-color: #dbe3e7;
    margin: 0 auto;
}

.website-text-subheadline {

    width: 160px;

}

.notification-page {
    background-color: #2a3039;   
    height: calc(100% - 44px);
    padding-top: 44px;
    opacity: 0;
}

/* .message {
    transform: translateY(100px);
    opacity: 0;
}  */

.message-container {
    border-radius: 16px;
    width: 268px;
    height: 47px;
    margin: 0px auto 20px;
    padding: 16px 16px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    background-color: rgba(255,255,255,.7);
    color: rgb(27, 30, 41);
    z-index: 3;
    perspective: 800px;
}

.message-container header {
    /* display: flex; */
    justify-content: space-between;
    font-size: 12px;
}

.message-container header h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 2px;
    padding-left: 12px;
}

.message-container .more {
    font-size: 12px;
    margin-top: 4px;
}

.carousel {
    margin: 0px 0 0 440px;
    width: max-content;
    padding-top: 35px;
}

.indicator {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 24px;
    font-family: "Avenir Next W01",Open Sans,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1;
    font-size: 15px;
    color: #a7bfde;
}

.indicator-icon {
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #a7bfde;
    background-color: transparent;
    height: 16px;
    width: 16px;
    flex: none;
    box-sizing: border-box;
}

.indicator-content{
    white-space: nowrap;
    margin: 8px 0 8px 16px;
    box-sizing: border-box;
}

.vline-frame {
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.vline {
    padding-left: 7px;
    height: 130%;
    border-right: 2px solid #a7bfde;
}

.icon-highlight {
    background-color: #f7f9fa;
    border-color: #f7f9fa;
}

.content-highlight {
    color: #f7f9fa;
}

/* .picture.overlay {
    background-color: pink;
    position: relative;
}

.picture-frame.overlay {
    background-color: pink;
    position: relative;
}
*/